<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>黄雀视频</title>
		<link rel="stylesheet" type="text/css" href="css/video-js.css" />
		<link rel="stylesheet" type="text/css" href="css/index2.css" />
	</head>
	<body>
		<div class="container">
			<div class="m">
				<video id="my-video" class="video-js" x5-video-player-type="true" webkit-playsinline="true" x5-video-player-type='h5' playsinline="true" x5-playsinline x-webkit-airplay="allow" controls preload="auto" width="740" height="400" poster="" data-setup="{}">
					<source type="video/mp4">
					<p class="vjs-no-js">
						To view this video please enable JavaScript, and consider upgrading to a web browser that
						<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
					</p>
				</video>
			</div>
			<div id="app">
				<div class="Vmessage">
					<div class="fl" v-if="videoInfo.isLike==false">
						<img src="img/zangray.png" @click="is_agree()"/>
						<span>{{videoInfo.likeNum}}</span>
					</div>
					<div class="fl" v-if="videoInfo.isLike==true">
						<img src="img/zanred.png" @click="is_agree()"/>
						<span>{{videoInfo.likeNum}}</span>
					</div>
					<div class="fl">
						<img src="img/viewgray.png" />
						<span>{{videoInfo.lookNum}}</span>
					</div>
				</div>
				<div class="goodsTitle">
					边看边买
				</div>
				<div class="goodsList">
					<!--循环渲染-->
					<div class="goodsChild" v-for="(goods,index) in goodsList">
						<div class="goodsChildLeft fl">
							<img v-cloak :src="goods.goodpic" />
							<span v-cloak>{{index+1}}</span>
						</div>
						<div class="goodsChildRight fr">
							<p v-cloak>{{goods.name}}</p>
							<span style="color:#fe471d;display: inline-block;" v-cloak>￥ <font>{{goods.price}}</font></span>
							<span @click='qiang(goods.id)'>马上抢</span>
						</div>
					</div>
					<!--<div class="goodsChild">
						<div class="goodsChildLeft fl">
							<img src="img/1.jpg" />
							<span>1</span>
						</div>
						<div class="goodsChildRight fr">
							<p>物品描述物品描述物品描述物品描述</p>
							<span style="color:#fe471d;display: inline-block;">￥ <font>1200.00</font></span>
							<span>马上抢</span>
						</div>
					</div>
					<div class="goodsChild">
						<div class="goodsChildLeft fl">
							<img src="img/2.png" />
							<span>1</span>
						</div>
						<div class="goodsChildRight fr">
							<p>物品描述物品描述物品描述物品描述</p>
							<span style="color:#fe471d;display: inline-block;">￥ <font>1200.00</font></span>
							<span>马上抢</span>
						</div>
					</div>
					<div class="goodsChild">
						<div class="goodsChildLeft fl">
							<img src="img/3.jpg" />
							<span>1</span>
						</div>
						<div class="goodsChildRight fr">
							<p>物品描述物品描述物品描述物品描述</p>
							<span style="color:#fe471d;display: inline-block;">￥ <font>1200.00</font></span>
							<span>马上抢</span>
						</div>
					</div>
					<div class="goodsChild">
						<div class="goodsChildLeft fl">
							<img src="img/4.png" />
							<span>1</span>
						</div>
						<div class="goodsChildRight fr">
							<p>物品描述物品描述物品描述物品描述</p>
							<span style="color:#fe471d;display: inline-block;">￥ <font>1200.00</font></span>
							<span>马上抢</span>
						</div>
					</div>-->
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="js/common/jquery-1.12.1.min.js"></script>
		<script type="text/javascript" src="js/common/rem.js"></script>
		<script src="js/vue.js" type="text/javascript"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="js/video.min.js"></script>
		<script type="text/javascript">
			//我的资料   页面初始化
			var app = new Vue({
				el: '#app',
				/*data: {
					videoInfo: "", //视频详情
					goodsList: '' //点播商品列表
				},*/
				data() {
					return {
						videoInfo: "", //视频详情
						goodsList: '' //点播商品列表
					}
				},
				created: function () {
					var that = this;
					axios.post('https://www.easy-mock.com/mock/5a3ca825fb6fe310cf6ad259/videoTest/videoTest')
					.then(function (response) {
					  	//console.log(response)
					  	if (response.data.success) {
					  		that.videoInfo = response.data.body;
					  		that.goodsList = response.data.body.goodslist;
					  	}
					})
					.catch(function (error) {
					    console.log("调用失败");
					});
				},
				mounted: function() {
					console.log("创建完成");
				},
				methods: {
					is_agree: function() { //点赞函数
						console.log("点赞");
					},
					qiang:function(goods_id){
						console.log("抢");
					}
				}
			});
			//获取视频详情
			var width = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
			var video_url = "http://1253816200.vod2.myqcloud.com/3725bfdbvodgzp1253816200/b15d0a039031868222964533151/f0.mp4";
			var photo_url = "http://hq-storage01.oss-cn-shanghai.aliyuncs.com/5a3738bab0ae1.png";
			var options = {}; //要配置的参数;
			options = {
				"autoplay": false,
				"width": width,
				"fluid": true,
				"poster": photo_url,
				"sources": [{
					src: video_url,
					type: 'video/mp4'
				}]
			};
			//console.log(options);
			var player = videojs('my-video', options, function onPlayerReady() {
				videojs.log('Your player is ready!');
				this.on('ended', function() {
					videojs.log('Awww...over so soon?!');
				});
			});
		</script>
	</body>

</html>